body {
  margin: 0;
  border: 0;
  background: linear-gradient(to right, rgb(32, 32, 34), rgb(8, 9, 38), rgb(28, 2, 2), rgb(2, 6, 41), black, black);
  color: white;
  
}
section {
  display: relative;
  
}
a {
  color: white;
  display: inline;
  padding: 10px;
}
p, h1, h4 {
  text-align: left;
  
}
h6{
  color: red;
}
iframe {
  width: 50em;
  height: 50em;
}
img {
  float: right;
}
/* img {
  position: absolute;
right: 10%;
  height: 150em;
  width: 200em;
  z-index: -1;
} */
header {
  height: 5em;
  width: 20em;
  text-align: center;
}
footer {
  position: relative;
  bottom: -60em;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
